*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}

.banner-text{
    margin-left: 120px;
    width: 50%;
}

.banner-text-header{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-text-body{
    font-size: 16px;
    margin-bottom: 20px;
}

.banner-photo{
    margin-right: 120px;
    margin-top: 20px;
}

.banner-img{
    width: 400px;
    height: 500px;
}

.btn-primary{
    background-color: #E55473;
    color: azure;
    font-size: 16px;
    border-radius: 8px;
    padding: 12px 18px;
    cursor: pointer;
}

.featured-flower{
    margin-bottom: 60px;
}

.featured-flower-title{
    font-size: 30px;
    text-align: center;
    margin: 120px 0 30px;
}

.featured-flower-boody{
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.featured-flower-photos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 30px;
}

.featured-flower-image{
    padding: 40px;
    border-radius: 140px 140px 0 0;
}

.ff-img-1{
    background-color: #f1afbd;
    width: 220px;
    height: 328px;
}

.ff-img-2{
    background-color: #a6e7f6;
    width: 220px;
    height: 328px;
    right: 550px;
}

.ff-img-3{
    background-color: #a0f6a0; 
    width: 220px;
    height: 328px; 
}

.service-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 120px;
    background-color: rgb(245, 236, 225);
    padding: 40px;
    margin-left: 250px;
    margin-right: 250px;
}

.hot-deal{
    margin-top: 120px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: rgba(229, 84, 115, 0.10);
}

.hot-deal-text{
    margin-top: 60px;    
}

.hot-deal-photo{
    margin-top: 60px;
    margin-bottom: 40px;
}

.hot-deal-text h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.hot-deal-text span{
    color: red;
}

.hot-deal-text p{
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
}

.hot-deal-text button{
    margin: 20px auto 10px 220px;
}

.hot-deal-img{
    width: 300px;
    height: 400px;
}








